.events {
    overflow: auto;
    max-height: 550px;
    min-height: 550px;
  }
  
  .events::-webkit-scrollbar {
    width: 5px !important;
  }
  
  .events::-webkit-scrollbar-thumb {
    background-color: #bab7b7;
    cursor: pointer;
  }
  
  .events::-webkit-scrollbar-track {
    background-color: #eee;
  }

  .checkbox-input{
    accent-color:#09A350;
  }
  
  